* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}

.body {
  background-color: hsl(244, 34%, 16%);
  margin: auto;
  max-width: 1000px;
  width: 80%;
  display: flex;
  margin-top: 100px;
  border-radius: 8px;
}

.one {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px;
  width: 50%;
}

.two {
  display: flex;
  gap: 40px;
}

.three {
  flex-direction: column;
  gap: 10px;
  display: flex;
  font-family: "Inter";
  font-weight: 700;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-weight: 700;
}

span {
  color: hsl(277, 64%, 61%);
}

.para {
  color: hsl(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca";
  font-size: 10px;
}

.pp {
  color: hsl(0, 0%, 100%);
}

img {
  border: none;
  background-image: linear-gradient(hsl(277, 64%, 61%, 0.6), hsl(277, 64%, 61%, 0.6)), url(image-header-desktop.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 768px) {
  .body {
    margin-top: 50px;
    width: 80%;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
  }

  .one {
    padding: 20px;
    width: 100%;
  }

  .two {
    flex-direction: column;
  }

  img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0;
  }
}
