body{
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: black;
}
img{
    width: 37%;
    border-radius: 60px;   
}
main{
    background-color: rgba(128, 128, 128, 0.415);
    width: 15%;
    margin: 100px auto;
    border-radius: 25px;
    padding: 30px;
    color: white;
    
}
p{
    display: flex;
    flex-direction: column;
    align-items: center;

}
header{
    text-align: center;             
}
h4{
    color: lawngreen;
    margin-top: -20px;
    font-size: 16px;
}
article{
    text-align: center;
    margin-bottom: -15px;
    font-size: 13px;
}
a{
    padding: 10px 20px;
    background-color:hwb(0 50% 50% / 0.583);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    width: 80%;
    margin-top: 10px;
    text-decoration: none;
}
a:link{
    color: white;
    

}
a:visited{
    color: blue;
}

a:hover{
    color: hotpink;
    width: 90%;
}
a:active{
    color: yellow;
}
@media screen  and (max-width : 767px){
    main{
        width: 70%;

    }
}
@media screen and ( min-width:768px) and ( max-width: 1023px){
    main{
        width: 30%;

    }
    
}