body{
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: black;
}
img{
    width: 37%;
    border-radius: 60px;
    margin-left: 60px;
    
}
main{
    background-color: rgba(128, 128, 128, 0.415);
    width: 16%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 8px;
    color: white;
}
header{
    margin-left: 40px;
}
h4{
    color: lawngreen;
    margin-top: -20px;
    font-size: 16px;
    padding-left: 40px;
}
article{
    margin-left: 20px;
margin-bottom: -15px;
}
a{
    padding: 10px 20px;
    background-color:hwb(0 50% 50% / 0.583);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    transition-delay: 7 ;
    width: 230px;
    margin: auto;
    transition-behavior: unset ;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
a:link{
    color: white;
    

}
a:visited{
    color: blue;
}

a:hover{
    color: hotpink;
    width: 270px;
}
a:active{
    color: yellow;
}
@media screen and (max-width:767px) {
    main{
        width: 75%;
        margin: auto;
        margin-top: 30px;
    }
    img{
        margin-left: 40px

    };
    body{
        margin: 30px ;
    }
    a{
        width: 190px;
    }
    article{
        font-size: 14px;
    }
    a:hover{
        width: 210px;
    }
}
@media screen and ( min-width:768px) and (max-width : 1440px) {
    main{
        width: 20%;
        margin: auto;
        margin-top: 50px;
    }
    a{
        width: 250px;
    }


    a:hover{
        width: 260px;
    }

}